<header role="banner">
    <h1>
        <a href="/" title="{{site.title}}" class="logo"><img src="/assets/img/kiffie-144x144.jpg" alt="{{site.title}}"
                width="144" height="144"></a>
    </h1>
</header>
